body{
  background-color:lightskyblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aga{ background-color: lightblue;
  color: green;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;

}

  .pr {
     background-color: lightblue;
      color: green;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }  
      .st {
        background-color: lightblue;
        color: green;
        border: 2px solid black;
        margin: 20px;
        padding: 20px; 
      }    
      .ctt {
        background-color: lightblue;
        color: green;
        border: 2px solid black;
        margin: 20px;
        padding: 20px; 
      }   
      .eu {
        background-color: lightblue;
        color: green;
        border: 2px solid black;
        margin: 20px;
        padding: 20px; 
      } 
      footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: right;
       
        
        }
        .paris{
          background-color: lightblue;
          color: green;
          border: 2px solid black;
          margin: 20px;
          padding: 20px; 
        }
        .button {
          background-color: black; 
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
        .button2 {
          background-color: black; 
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          
        }

.circle{
  border-radius: 80%;
  width: 50%;
  height: 25%;
}

.central{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
    
   